<h1 class="mb-md-5">Add your movie</h1>

<div>
  <%= simple_form_for([@list, @bookmark]) do |f| %>
    <%= f.input :movie_id, collection: Movie.all, as: :select, label: "Choose a movie to add" %>
    <%= f.input :comment, label: "Enter your comment" %>

    <%= f.submit 'Add movie', class:'btn btn-success'%>
  <% end %>
</div>

<div class="mt-md-4">
  <%= link_to "Back to #{@list.name} list", list_path(@list), class:"btn btn-warning" %>
</div>

<div class="mt-md-4">
  <%= link_to "Back to watch list", lists_path, class:"btn btn-primary" %>
</div>
